<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 0px; padding: 0;">
    <!-- REMOVE WIDTH AND MARGIN IF NEED FULL WIDTH -->
   
    <div style="width:600px;box-sizing: border-box; margin: 20px auto; background-color: 'white'; display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <div>
            <h1>Winlads Personalized NFC Card</h1>
        </div>
        <div style="padding: 20px; background-color: black; width: 100%;border-radius: 20px; overflow: hidden;margin-bottom: 20px;">
            <div style="position: relative;">
                <div style="width: 200px;">
                    <img src="{{this.server}}/public/images/logo.png" style="width: 100%; height: 100%; object-fit: contain;">
                </div>
                <div style="width: 30px; position: absolute; top: 0px;right: 0px;">
                    <img src="{{this.server}}/public/images/Signal.png" alt="NFC Icon" style="width: 100%; height: 100%; object-fit: contain;">
                </div>
            </div>
            <div style="width: 100%;">
                <img src="{{this.server}}/public/images/jip.png" style="width: 100%; height: 100%; object-fit: contain;">
            </div>
            <div style="text-align: center;">
                <h5 style="color: #3fb0c2; font-weight: 500;">Connecting Hearts,uplifting lives :our people centric giveaways</h5>
            </div>
        </div>

        <div style="padding: 20px; background-color: black; width: 100%;border-radius: 20px; overflow: hidden;">
            <div style="display: flex; align-items: center; justify-content: space-between;width: 100%;">
                <div style="width: 80px;">
                    <img src="{{this.server}}/public/images/icon.png" style="width: 100%; height: 100%; object-fit: contain;">
                </div>
            </div>
            <div style="text-align: center;">
                 <!-- QR CODE AREA WILL BE FIXED SIZE MINIMUM 150PX AND MAX 200PX -->
                <div style="padding: 10px;min-width: 150px; aspect-ratio: 1/1; border: 2px solid white; max-width: 200px; margin: 0px auto;border-radius: 20px;">
                    <img src="{{this.qrlink}}" style="width: 100%; height: 100%; object-fit: contain;">
                </div>
                <h5 style="color: #3fb0c2; font-weight: 500;">giveaways@winlads.com.au</h5> 
            </div>
        </div>
    </div>
</body>
</html>